* {
    box-sizing: border-box;
}
.sec{
    margin-top: -50px;
}
li{
    font-weight: bold;
}
.muscu{
    color: rgba(255,0,0,.7);
}
.cardio{
    color: rgba(0, 0, 0, 0.705);
}
.acce{
    color: rgb(163, 202, 57);
}
.todos{
    padding: 30px;
}
h1{
    background-color: gray;
    text-align: center;
    font-size: 20px;
}
.titulo{
    width: 100%;
    padding: 8px;
}
.totalVentas{
    background-color: gray;
    text-align: center;
    font-size: 20px;
    margin-top: 34px;
}
.sec ul li {
    list-style-type: NONE;
    border-top: none;
    border-bottom: none;
}