* {
    box-sizing: border-box;
}

h1{
    background-color: gray;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
}
.titulo{
    width: 100%;
    padding: 20px;
}
.titulo h1{
    font-size: 20px;
}
.titulo h2{
    font-size: 18px;
    text-decoration: underline;
}
.titulo h3{
    font-size: 20px;
    font-weight: bolder;
}
.resaltar{
    overflow: hidden;
}
.categoryName {
    float: left;;
}
.categoryQuantity{
    float: right;
}
.total{
    margin-top: 55px;
}