.container-usuarios{
    background-color: rgb(255, 183, 0);
    border: outset;
    border: 1px rgb(206, 148, 3) solid;

    border-radius: 10px;
    box-shadow: 0 0 10px #00000050;
    color:  white;
    width: 476px;
}
.h4-cant-usuarios{
    border: white 2px outset;
    background-color:rgba(255, 187, 0, 0.678);
    border: 1px rgb(206, 148, 3) solid;
    border-radius: 10px;
  
    position: absolute;
    right: 17%;
    top: 3%;
}
.h2-usuarios{
    font-size: 20px;
}